.blog-container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.blog-container img.blog-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.blog-container h3 {
    color: #ff1f1f;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.blog-container p {
    color: #000000;
    font-size: 0.95rem;
    line-height: 1.5;
}

/* Responsive */
@media (max-width: 768px) {
    .blog-container img.blog-img {
        height: 160px;
    }

    .blog-container h3 {
        font-size: 1.1rem;
    }

    .blog-container p {
        font-size: 0.9rem;
    }

}


/* HERO SECTION */
.blog-hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('../img/backgroundblog.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
}
